/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 93%;
  width: 60%;
  float: left;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  background: #004d40;
  float: left;
  height: 93%;
  overflow: auto;
  width: 40%;
  padding-left:20px;
  padding-right:20px;
}

#listarea {
  height: 65%;
  width: 100%;
  color: black;
}

#updateavail {
  visibility: hidden;
}

#scavengerlogo {
  font-family: Refrigerator Deluxe;
  padding-left: 20px;
}

#showPlantsButton {
  position: fixed;
  right: 50px;
  bottom: 20px;
}

.side {
  width:20%;
  max-height:100%;
  height:150px;
}

.side img{
  object-fit: cover;
  height:150px;
  width:auto;
}

.detailImageContainer {
  width: 100%;
  max-height: 40%;
  height: 350px;
}

.detailImageContainer img {
  object-fit:cover;
  height:100%;
  width:100%;
}

label[data-error]:after {
  white-space: nowrap;
}

.tabs {
  background-color: rgba(0,0,0,0);
}

.tabs .indicator {
  background-color: white;
}

.tabs .tab a:hover {
  color: white;
}

.tabs .tab a {
  color: rgba(255,255,255,0.5);
}

.tabs .tab a.active {
  color: white;
}

.tabs .tab.disabled a{
  color: rgba(255,255,255,0.2);

}

.tabs .tab.disabled a:hover {
  color: rgba(255,255,255,0.2);
}

#detailEdible {
  color: gray;
  padding-top: 12px;
  text-align: right;
}
