/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 93%;
  width: 70%;
  float: left;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  background: green;
  float: left;
  min-height: 93%;
  width: 30%;
  color: white;
}

#listarea {
  height: 65%;
  width: 100%;
  color: white;
}

#updateavail {
  visibility: hidden;
}

#scavengerlogo {
  font-family: Refrigerator Deluxe;
  padding-left: 20px;
}

#showPlantsButton {
  position: fixed;
  right: 50px;
  bottom: 20px;
}