<h1> landing page </h1>

<ul>
	<% plantsArr.forEach(function(plant){ %>
		<li><%= plant.name %> - <i><%= plant.scientificname %></i>
			<img src="<%= plant.imageurl%>">
		</li>
	<% }); %>
</ul>

<a href="/newplant">Create a new plant</a>