<h1>Here to make a new plant</h1>

<form action="/newplant" method="post">
	<input type="text" name="plantname" placeholder="plant name">
	<input type="text" name="sciname" placeholder="scientific name">
	<input type="text" name="imgurl" placeholder="image url">
	<button>Submit</button>
</form>